* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    min-height: calc(100vh - 58px);
}

aside {
    width: 220px;
    background-color: rgb(148, 144, 144);

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px;
}

aside button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background-color: #f5f5f5;
}

.pagina {
    display: none;
}

.ativa {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 450px;

    background-color: white;

    padding: 20px;

    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    padding: 10px;
}


#resultadoMoeda,
#resultadoImc,
#resultadoTemperatura{
    margin-top: 10px;
    font-weight: bold;
}